.btn{
    background-color: $purple;
    color: $white;
    padding: 1rem 0.5rem;
    border-radius: 3px;
    border: none;
}

.btn:hover{
    background-color: lighten($purple, 5%);
    color: $white;
}